# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Android
android/app/build/
android/build/
android/.gradle/
android/app/src/main/assets/app.manifest

# iOS
ios/build/
ios/Pods/
*.xcscheme

# Metro Bundler
.metro-cache/

# Jest
coverage/

# IDE specific
.idea/
*.iml
*.vs/
*.vscode/

# Build artifacts
# dist/ # Already covered by Expo section
# build/ # Covered by Android/iOS sections

# Environment variables
.env
.env.*
!/.env.example

# Logs
logs/
*.log

# Temporary files
*.tmp
*.patch
*.swp

# macOS
.DS_Store

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Example app if any
app-example
